In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('fpl_train.txt', sep='\t', header=None)

In [17]:
df.head()

   0  1         2         3
0  0  3  480.9150  565.7275
1  0  4  480.9285  563.0665
2  0  5  480.9960  559.2195
3  0  6  481.0410  555.3135
4  0  7  481.0545  555.2960

In [20]:
train = df[[1, 0, 2, 3]].copy()

In [21]:
train.head()

   1  0         2         3
0  3  0  480.9150  565.7275
1  4  0  480.9285  563.0665
2  5  0  480.9960  559.2195
3  6  0  481.0410  555.3135
4  7  0  481.0545  555.2960

In [23]:
train.to_csv('fpl_train_switched_cols.txt',sep='\t',index=False,header=False)