In [13]:
import pandas as pd
import numpy as np

In [14]:
train_df = pd.read_csv("complete_train_data_1_frames.csv")
test_df = pd.read_csv("complete_test_data_1_frames.csv")
val_df = pd.read_csv("complete_val_data_1_frames.csv")

In [7]:
#df = pd.read_csv("complete_data_10_frames.csv")
#new_df = df[["person_id", "frame_id", "position_x", "position_y"]].copy()
#new_df["person_id"] = new_df["person_id"]*10
#new_df.to_csv('10_frames_complete.txt',sep='\t',index=False,header=False)

In [15]:
train = train_df[["person_id", "frame_id", "position_x", "position_y"]].copy()
train["person_id"] = train["person_id"]*10
train["person_id"] = train["person_id"].astype(np.float64)
train["frame_id"] = train["frame_id"].astype(np.float64)


test = test_df[["person_id", "frame_id", "position_x", "position_y"]].copy()
test["person_id"] = test["person_id"]*10
test["person_id"] = test["person_id"].astype(np.float64)
test["frame_id"] = test["frame_id"].astype(np.float64)

val = val_df[["person_id", "frame_id", "position_x", "position_y"]].copy()
val["person_id"] = val["person_id"]*10
val["person_id"] = val["person_id"].astype(np.float64)
val["frame_id"] = val["frame_id"].astype(np.float64)

In [18]:
val.tail(20)

     person_id  frame_id  position_x  position_y
205      150.0      24.0    874.5740    516.1680
206      150.0      26.0    937.1525    508.3020
207      150.0      27.0    976.2365    508.3215
208      150.0      29.0   1037.5600    552.6730
209      150.0      30.0   1033.6800    563.0870
210      150.0      31.0   1012.7350    565.7040
211      150.0      32.0   1020.6100    555.2615
212      260.0      41.0    404.0405    376.6580
213      260.0      42.0    375.4065    376.6590
214      260.0      44.0    354.5615    370.1645
215      260.0      46.0    342.7925    405.3340
216      260.0      47.0    342.8440    427.5070
217      260.0      48.0    342.8475    441.8080
218      260.0      36.0    355.7990    398.8540
219      260.0      37.0    394.9585    402.6865
220      260.0      38.0    431.4720    385.8630
221      260.0      39.0    441.8745    368.8705
222      260.0      49.0    323.2795    439.2235
223      260.0      50.0    290.5920    430.1775
224      260.0      51.0    222.9080    439.2185

In [4]:
train.to_csv('fpl_train_2.txt',sep='\t',index=False,header=False)
test.to_csv('fpl_test.txt',sep='\t',index=False,header=False)
val.to_csv('fpl_val.txt',sep='\t',index=False,header=False)

In [22]:
#test = pd.read_csv('biwi_hotel_val.txt', sep='\t', header=None)

In [6]:
train_2 = pd.read_csv('fpl_train_2.txt', sep='\t', header=None)
train = pd.read_csv('fpl_train.txt', sep='\t', header=None)

In [11]:
train.iloc[0]

0     10.000
1      3.000
2    437.976
3    470.594
Name: 0, dtype: float64

In [12]:
train_2.iloc[0]

0      0.0000
1      3.0000
2    480.9150
3    565.7275
Name: 0, dtype: float64